@model IEnumerable<IvA.Models.ProjektPaketeModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projekte.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projekte.Projektname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjektPakete.ArbeitsPaketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pakete.PaketName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Projekte.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projekte.Projektname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjektPakete.ArbeitsPaketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pakete.PaketName)
            </td>
        </tr>
}
    </tbody>
</table>
