@model IEnumerable<IvA.Models.ProjektPaketeModel>

@{
    ViewData["Title"] = "Projektdetails";
}

<h1>Übersicht über die Projektdetails</h1>

<div>
    <h4>Projekte</h4>
    <hr />
    @foreach (var item in Model)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Projekte.Projektname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Projekte.Projektname)
            </dd>
            <dt class="col-sm-2">
                Projektowner
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Projekte.Projektersteller)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Projekte.ErstelltAm)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Projekte.ErstelltAm)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Projekte.Mitglieder)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Projekte.Mitglieder)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Projekte.Beschreibung)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Projekte.Beschreibung)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Projekte.Deadline)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Projekte.Deadline)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Projekte.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Projekte.Status)
            </dd>
        </dl>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Projekte.ProjekteId">Anpassen</a>
        <a class="btn btn-primary" asp-action="ProjectUserList" asp-route-id="@item.Projekte.ProjekteId">Nutzer hinzufügen</a>
        <a class="btn btn-primary" asp-action="Index">Zurück zur Projektübersicht</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Projekte.ProjekteId">Projekt löschen</a>
   }
</div>
<div>
    
</div>
<p>
    <h2>Arbeitspakete</h2>
</p>

<p>
    ​<button class="btn btn-primary" onclick="showPackageForm()">Neues Arbeitspaket anlegen</button>
    <button class="btn btn-primary" onclick="showMemberForm()">Mitglied hinzufügen</button>
</p>
<div id="newPackageForm" style="display: none;">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Beschreibung</label>
        <input class="form-control" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Frist</label>
        <input class="form-control" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-action="CreatePackage">Erstellen</a>
    </div>
</div>
<form asp-action="AddUserToProject" id="addMemberForm" style="display: none;">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" id="nameInput" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" asp-controller="Projekte" >Hinzufügen</a>
    </div>
    <div class="form-group">
        <input type="submit" value="Änderungen speichern" class="btn btn-primary" />
    </div>
</form>
<div class="card-deck">
    <div class="card bg-secondary">
        <div class="card-body">
            <h4 class="card-title">To Do</h4>
            <ul class="list-group list-group-flush">
                @foreach (var item in Model)
                {
                    if (item.Pakete.Status == "To do")
                    {
                        <li class="list-group-item list-group-item-light">
                        <a asp-action="Details" asp-controller="ArbeitsPaket" asp-route-id="@item.Pakete.ArbeitsPaketId">@item.Pakete.PaketName</a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="card bg-secondary">
        <div class="card-body">
            <h4 class="card-title">In Bearbeitung</h4>
            <ul class="list-group list-group-flush">
                @foreach (var item in Model)
                {
                    if (item.Pakete.Status == "In Bearbeitung")
                    {
                        <li class="list-group-item list-group-item-light">
                        <a asp-action="Details" asp-controller="ArbeitsPaket" asp-route-id="@item.Pakete.ArbeitsPaketId">@item.Pakete.PaketName</a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="card bg-secondary">
        <div class="card-body">
            <h4 class="card-title">Fertig</h4>
            <ul class="list-group list-group-flush">
                @foreach (var item in Model)
                {
                    if (item.Pakete.Status == "Fertig")
                    {
                        <li class="list-group-item list-group-item-light">
                        <a asp-action="Details" asp-controller="ArbeitsPaket" asp-route-id="@item.Pakete.ArbeitsPaketId">@item.Pakete.PaketName</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<p>
    <h2>Mitglieder</h2>
</p>