@model IvA.Models.ArbeitsPaketModel

@{ ViewData["Title"] = "Arbeitspaketdetails"; }

<h1>Details</h1>
<br />

<h4> Arbeitspaket: @Html.DisplayFor(model => model.PaketName)</h4>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaketName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaketName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjektId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjektId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mitglieder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mitglieder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Frist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Frist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-primary" asp-action="PaketAnpassen" asp-controller="Projekte" asp-route-id="@Model.ArbeitsPaketId">Bearbeiten</a> |
    <a class="btn btn-primary" asp-action="Index" asp-controller="Projekte">Zurück zur Projektübersicht</a> |
    <a class="btn btn-primary" asp-action="PaketLöschenGet" asp-controller="Projekte" asp-route-id="@Model.ArbeitsPaketId">Arbeitspaket löschen</a>
</div>
