@using Microsoft.AspNetCore.Identity
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Nutzerverwaltung";
}

<h1>Nutzerverwaltung</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Optionen
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (!User.Identity.Name.Equals(item.UserName))
                    {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Löschen</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>