@using Microsoft.AspNetCore.Identity
@model IEnumerable<IvA.Models.ProjectRoles>
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "ListUserProjects";
}

    <h1 style="color:#ffa400 ; margin-bottom:25px">Alle Projekte von @ViewBag.Name</h1>

<table class="table bg-table">
    <thead class="bg-table thead-dark">
        <tr>
            <th scope="col" class="FirstLetter">
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th scope="col" class="FirstLetter">
                @Html.DisplayNameFor(model => model.ProjectRole)
            </th>
            <th scope="col" class="FirstLetter">
                Option
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectRole)
                </td>
                <td>
                    <a class="btn btn-dark" style="color:#ffa400" asp-action="Details" asp-controller="Projekte" asp-route-id="@item.ProjectId">Projekt ansehen</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-orange" asp-action="ListUsers"><b>Zurück zur Nutzerverwaltung</b></a>
