@model IEnumerable<IvA.Models.ArbeitsPaketModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Arbeitspakete</h1>

<div class="card-deck">

    <div class="card bg-secondary">
        <div class="card-body">
            <h4 class="card-title">To Do</h4>
            <ul class="list-group list-group-flush">
                @foreach (var item in Model)
                {
                  
                        if (item.Status == "To do")
                        {
                            <li class="list-group-item list-group-item-light"><a asp-action="Details" asp-route-id="@item.ArbeitsPaketId">@item.PaketName</a></li>
                        }
                }
            </ul>
        </div>
    </div>
    <div class="card bg-secondary">
        <div class="card-body">
            <h4 class="card-title">In Bearbeitung</h4>
            <ul class="list-group list-group-flush">
                @foreach (var item in Model)
                {
                    if (item.Status == "In Bearbeitung")
                    {
                         <li class="list-group-item list-group-item-light"><a asp-action="Details" asp-route-id="@item.ArbeitsPaketId">@item.PaketName</a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="card bg-secondary">
        <div class="card-body">
            <h4 class="card-title">Fertig</h4>
            <ul class="list-group list-group-flush">
                @foreach (var item in Model)
                {
                    if (item.Status == "Fertig")
                    {
                        <li class="list-group-item list-group-item-light"><a asp-action="Details" asp-route-id="@item.ArbeitsPaketId">@item.PaketName</a></li>
                    }
                }
            </ul>
        </div>
    </div>

    <p></p>
    <p></p>
</div>