@model IEnumerable<IvA.Models.ArbeitsPaket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaketName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschreibung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mitglieder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaketName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschreibung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mitglieder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArbeitsPaketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArbeitsPaketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArbeitsPaketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
