@model IEnumerable<IvA.Models.UserLogin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserLoginID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserLoginID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserLoginID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a>
        <a class="btn btn-primary" asp-area="" asp-controller="Message" asp-action="Index">Nachrichten</a>
        <a class="btn btn-primary" asp-area="" asp-controller="UserLoginMessageViewModel" asp-action="Index">UserMessageViewModel</a>
    </a>
</div>
