@model IEnumerable<IvA.Models.UserLoginMessageViewModel>

@{
    ViewData["Title"] = "Index";
}
<!--Diese HTML-Datei dient nur zu Test- und Debuggingzwecken und wird in der Live-Version nicht verwendet-->
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserLoginID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLoginID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserLoginMessageViewModelID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserLoginMessageViewModelID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserLoginMessageViewModelID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
